@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <div class="d-flex align-items-center w-100">
                <span class="fw-semibold">Generated_northwindstarteredit-efaf7961-a5a8-49a9-9cc8-803767fab1da</span>
            </div>
        </div>

        <article class="content px-4 py-3">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">&#x2715;</span>
</div>
