:host[b-lhshslkcpe] {
    display: block;
}

.access-form.access-about[b-lhshslkcpe] {
    --access-form-bg: rgb(242, 242, 242);
    --access-form-text: rgb(64, 64, 64);
    --access-border: rgb(231, 231, 231);
    max-width: 9in;
    margin: 0 auto;
    font-family: Calibri, "Segoe UI", sans-serif;
    font-size: 11pt;
    color: var(--access-form-text);
}

.access-form.access-about :deep(.card)[b-lhshslkcpe],
.access-form.access-about :deep(.card-header)[b-lhshslkcpe],
.access-form.access-about :deep(.card-body)[b-lhshslkcpe],
.access-form.access-about :deep(.card-footer)[b-lhshslkcpe] {
    border-color: var(--access-border);
}

.access-form.access-about :deep(.form-control)[b-lhshslkcpe],
.access-form.access-about :deep(.form-select)[b-lhshslkcpe] {
    width: 100%;
}
