:host[b-w96o4xtia4] {
    display: block;
}

.access-form.access-admin-reset-dates[b-w96o4xtia4] {
    --access-form-bg: rgb(242, 242, 242);
    --access-form-text: rgb(64, 64, 64);
    --access-border: rgb(231, 231, 231);
    max-width: 5.4583in;
    margin: 0 auto;
    font-family: Calibri, "Segoe UI", sans-serif;
    font-size: 11pt;
    color: var(--access-form-text);
}

.access-form.access-admin-reset-dates :deep(.card)[b-w96o4xtia4] {
    border-color: var(--access-border);
}

.access-form.access-admin-reset-dates :deep(.card-body)[b-w96o4xtia4] {
    background-color: var(--access-form-bg);
}
