:host[b-i59cc816v6] {
    display: block;
}

.access-form.access-customer-detail[b-i59cc816v6] {
    --access-form-bg: rgb(242, 242, 242);
    --access-form-text: rgb(64, 64, 64);
    --access-border: rgb(231, 231, 231);
    max-width: 12.75in;
    margin: 0 auto;
    font-family: Calibri, "Segoe UI", sans-serif;
    font-size: 11pt;
    color: var(--access-form-text);
}

.access-form.access-customer-detail :deep(.card)[b-i59cc816v6],
.access-form.access-customer-detail :deep(.card-header)[b-i59cc816v6],
.access-form.access-customer-detail :deep(.card-body)[b-i59cc816v6],
.access-form.access-customer-detail :deep(.card-footer)[b-i59cc816v6] {
    border-color: var(--access-border);
}

.access-form.access-customer-detail :deep(.card-body)[b-i59cc816v6] {
    background-color: var(--access-form-bg);
}

.access-form.access-customer-detail :deep(.form-control)[b-i59cc816v6],
.access-form.access-customer-detail :deep(.form-select)[b-i59cc816v6],
.access-form.access-customer-detail :deep(textarea)[b-i59cc816v6] {
    width: 100%;
}
