:host[b-r7g0aqzkmy] {
    display: block;
}

.access-form.access-main-menu-product-list[b-r7g0aqzkmy] {
    --access-form-bg: rgb(242, 242, 242);
    --access-form-text: rgb(64, 64, 64);
    --access-border: rgb(231, 231, 231);
    max-width: 7.6257in;
    margin: 0 auto;
    font-family: Calibri, "Segoe UI", sans-serif;
    font-size: 11pt;
    color: var(--access-form-text);
}

.access-form.access-main-menu-product-list :deep(.card)[b-r7g0aqzkmy],
.access-form.access-main-menu-product-list :deep(.card-header)[b-r7g0aqzkmy],
.access-form.access-main-menu-product-list :deep(.card-footer)[b-r7g0aqzkmy] {
    border-color: var(--access-border);
}

.access-form.access-main-menu-product-list :deep(.card-header)[b-r7g0aqzkmy],
.access-form.access-main-menu-product-list :deep(.card-footer)[b-r7g0aqzkmy] {
    background-color: var(--access-form-bg);
}
