:host[b-mc40k4swn4] {
    display: block;
}

.access-form.access-startup[b-mc40k4swn4] {
    --access-form-bg: rgb(242, 242, 242);
    --access-form-text: rgb(64, 64, 64);
    --access-border: rgb(231, 231, 231);
    max-width: 6.5in;
    margin: 0 auto;
    font-family: Calibri, "Segoe UI", sans-serif;
    font-size: 11pt;
    color: var(--access-form-text);
}

.access-form.access-startup :deep(.card)[b-mc40k4swn4],
.access-form.access-startup :deep(.card-body)[b-mc40k4swn4] {
    border-color: var(--access-border);
    background-color: var(--access-form-bg);
}
