:host[b-jhiz3jiay8] {
    display: block;
}

.access-form.access-admin-system-settings[b-jhiz3jiay8] {
    --access-form-bg: rgb(242, 242, 242);
    --access-form-text: rgb(64, 64, 64);
    --access-border: rgb(231, 231, 231);
    max-width: 6in;
    margin: 0 auto;
    font-family: Calibri, "Segoe UI", sans-serif;
    font-size: 11pt;
    color: var(--access-form-text);
}

.access-form.access-admin-system-settings[b-jhiz3jiay8],
.access-form.access-admin-system-settings :deep(.card-header)[b-jhiz3jiay8],
.access-form.access-admin-system-settings :deep(.card-body)[b-jhiz3jiay8] {
    border-color: var(--access-border);
}

.access-form.access-admin-system-settings :deep(.card-header)[b-jhiz3jiay8],
.access-form.access-admin-system-settings :deep(.card-body)[b-jhiz3jiay8] {
    background-color: var(--access-form-bg);
}

.access-form.access-admin-system-settings :deep(.form-control)[b-jhiz3jiay8],
.access-form.access-admin-system-settings :deep(.form-select)[b-jhiz3jiay8] {
    width: 100%;
}
