:host[b-klp3gv0r8k] {
    display: block;
}

.access-form.access-customer-detail-order-list[b-klp3gv0r8k] {
    --access-form-bg: rgb(242, 242, 242);
    --access-form-text: rgb(64, 64, 64);
    --access-border: rgb(231, 231, 231);
    max-width: 4.9167in;
    margin: 0 auto;
    font-family: Calibri, "Segoe UI", sans-serif;
    font-size: 11pt;
    color: var(--access-form-text);
    border-color: var(--access-border);
}

.access-form.access-customer-detail-order-list :deep(.card-header)[b-klp3gv0r8k],
.access-form.access-customer-detail-order-list :deep(.card-footer)[b-klp3gv0r8k] {
    background-color: var(--access-form-bg);
}
