:host[b-7qwddrghlj] {
    display: block;
}

.access-form.access-employee-detail-order-list[b-7qwddrghlj] {
    --access-form-bg: rgb(242, 242, 242);
    --access-form-text: rgb(64, 64, 64);
    --access-border: rgb(231, 231, 231);
    max-width: 6.25in;
    margin: 0 auto;
    font-family: Calibri, "Segoe UI", sans-serif;
    font-size: 11pt;
    color: var(--access-form-text);
    border-color: var(--access-border);
}

.access-form.access-employee-detail-order-list :deep(.card-header)[b-7qwddrghlj],
.access-form.access-employee-detail-order-list :deep(.card-footer)[b-7qwddrghlj] {
    background-color: var(--access-form-bg);
}
