:host[b-azhqn3rc6c] {
    display: block;
}

.access-form.access-main-menu-order-list[b-azhqn3rc6c] {
    --access-form-bg: rgb(242, 242, 242);
    --access-form-text: rgb(64, 64, 64);
    --access-border: rgb(231, 231, 231);
    max-width: 10in;
    margin: 0 auto;
    font-family: Calibri, "Segoe UI", sans-serif;
    font-size: 11pt;
    color: var(--access-form-text);
    border-color: var(--access-border);
}

.access-form.access-main-menu-order-list :deep(.card-header)[b-azhqn3rc6c],
.access-form.access-main-menu-order-list :deep(.card-footer)[b-azhqn3rc6c] {
    background-color: var(--access-form-bg);
}

.access-form.access-main-menu-order-list :deep(.btn-group .btn)[b-azhqn3rc6c] {
    min-width: 6rem;
}
