@page "/main-menu-learn"
@rendermode InteractiveServer
@using Generated_northwindstarteredit_ae0ced4b_a24f_459f_ad79_59a95ba1d058.Models
@using Generated_northwindstarteredit_ae0ced4b_a24f_459f_ad79_59a95ba1d058.Services

<div class="card shadow-sm access-form access-main-menu-learn">
    <div class="card-header">Learn</div>
    <div class="card-body">
        <div class="list-group">
            <a class="list-group-item list-group-item-action" tabindex="1" href="https://techcommunity.microsoft.com/t5/access/bd-p/Access" target="_blank">Access Tech Community</a>
            <a class="list-group-item list-group-item-action" tabindex="2" href="https://support.microsoft.com/access" target="_blank">Learn more about Access</a>
            <a class="list-group-item list-group-item-action" tabindex="3" href="https://answers.microsoft.com/en-us/msoffice/forum/msoffice_access" target="_blank">Access Forum</a>
        </div>
    </div>
</div>
